@font-face {
  font-family: UDKakugoC80;
  src: url(FOT-UDKakugoC80Pro-M.otf);
  font-size-adjust: 0.5;
}

.App {
  text-align: center;
}

table {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

select {
  background-color: rgba(209, 222, 232, 0.8);
  border-radius: 5px;
  border: 1px solid rgba(209, 222, 232, 1);
}

.attackers {
  position: fixed;
  overflow: scroll;
  top: 0px;
  background-color: #1a2a43;
  width: 100vw;
  height: 42vh;
  transition: height 300ms;
  color: #fff;
}

.attacker-button {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #1a2a43;
}

.attacker-button#active {
  border-top: 2px solid #1a2a43;
}

.attacker-button#inactive {
  border-top: 1px solid #1a2a43;
}


.attackers-buttons {
  text-align: center;
  position: fixed;
  top: 42vh;
  width: 100vw;
  height: 60px;
  transition: top 300ms;
}

.minified {
  border: 0px solid black;
  border-radius: 5px;
  background-color: rgba(209, 222, 232, 0.2);
  padding-left: 5px;
  padding-right: 5px;
}

#active {
  background-color: #1a2a43;
  color: #fff;
}

#inactive {
  background-color: #364059;
  color: #fff;
}

.defenders {
  position: fixed;
  overflow: scroll;
  bottom: 0px;
  background-color: #1a2a43;
  width: 100vw;
  height: 32vh;
  transition: height 300ms;
  color: #fff;
}

.defender-button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 30px;
  border: 2px solid #1a2a43;
}

.defender-button#active {
  border-bottom: 2px solid #1a2a43;
}

.defender-button#inactive {
  border-bottom: 2px solid #364059;
}

.defenders-buttons {
  text-align: center;
  position: fixed;
  bottom: 32vh;
  width: 100vw;
  height: 30px;
  transition: bottom 300ms;
  color: #fff;
}

.mon-panel {
  border: 2px solid rgba(209, 222, 232, 0.6);
  border-radius: 10px;
  background-color: #364059;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.field {
  position: fixed;
  overflow: scroll;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  left: 0px;
  top: 275px;
  background-color: #1a2a43;
  width: 200px;
  height: 600px;
  transition: width 300ms;
  color: #fff;
}

.field-buttons {
  text-align: center;
  position: fixed;
  top: 275px;
  width: 40px;
  height: 600px;
  transition: left 300ms;
  color: #fff;
}

.field-button {
  position: relative;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 0px;
  height: 30px;
  border: 2px solid #1a2a43;
  top: 285px;
}

.field-button#active {
  border-right: 2px solid #1a2a43;
}

.field-button#inactive {
  border-right: 2px solid #364059;
}

.index-num {
  position: absolute;
  top: -3%;
  right: 1%;
  font-size: 70px;
  color: #d1dee8;
  color: rgba(209, 222, 232, 0.4);
  font-weight: bold;
  text-align: right;
  z-index: 0;
}

select {
  z-index: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
